<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cadastro</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>
body {
	background: #000000;
}

.content {
	max-width: 500px;
	margin: auto;
	background: white;
	padding: 10px;
}

</style>
</head>
<body>
	<div class="content">
		<h1>Planning Poker</h1>
		<a href="/cadastroitem"> cadastro </a>
	</div>
</body>
</html>